* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    text-align: center;
    vertical-align:middle;
  }
  
  .start-countdown-button{
    visibility: hidden;
  }

  .countdown-labelno3, .countdown-labelno2, .countdown-labelno1, .countdown-labelGo{
    visibility: hidden;
    color: grey;
  }

  .add-side-player{
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .container {    
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .race{
    margin-top: 50px;    
    width: 600px;
    display: flex;    
    align-items: center;
  }

  .timer{
    width: 300px;
    align-items:flex-start;    
    display: grid;
  }

  .steps{
    width:300px;
    align-items:end;    
    display: grid;
  }

  .hanoi-board {        
    height: 200px;
    background: dodgerblue;
    display: flex;
    align-items: center;
  }
  
  .tower {
    width: 200px;
    height: 180px;
    background: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center; /*the stick will be center as it is part of tower*/
    justify-content: flex-end;
  }
  
  .stick {
    width: 10px;
    height: 150px;
    background: chocolate;
    position: absolute;
    border-radius: 15px;
  }
  
  .base-plate {
    width: 180px;
    height: 20px;
    background: brown;
    border-radius: 10px;
    z-index: 1; /* put it in front of stick */
  }
  
  .disc{
    height:20px;
    border-radius: 10px;
    z-index: 1; /* put it in front of stick */
  }
